<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleContainer" aria-controls="navbarsExampleContainer" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
         <a class="navbar-brand" href="#">
        <img src="http://www.marketwire.com/library/MwGo/2016/9/14/11G114111/shopbazaar-91a09a342513aad497a057ce13763bc8.jpg" width="70"
            height="30" alt="">
    </a>
  <div class="collapse navbar-collapse " id="navbarsExampleContainer">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link shop" href="#">Shop</a>
            </li>
            <li class="nav-item  active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Departments</a>
                <div class="dropdown-menu department" aria-labelledby="dropdown02">
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item  active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> Sign In</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <a class="dropdown-item signIn" href="/loginpage">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i> Signin</a>
                        
                    <a class="dropdown-item signOut" href="#">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        Signout</a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        Account Information</a>
                </div>
            </li>
                        <li class="nav-item"><a class="nav-link title" href="#" ></a></li>

            <li class="nav-item  active dropdown navItem">
                <a class="nav-link dropdown-toggle " href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Profiles</a>
            
                <div class="dropdown-menu members" aria-labelledby="dropdown02">
                  
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link order" href="#">Orders</a>
            </li>
            <li class="nav-item  active dropdown" id="cart">
                <a class="nav-link dropdown-toggle " href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i> Cart
                <span class="sr-only">(current)</span></a>
                <div class="dropdown-menu cartItems" aria-labelledby="dropdown02">

                   <button class="gotocart btn">Go To Cart</button>

                </div>
         
            </li>
        </ul>
    </nav>
    <script src="/assets/js/menu.js"></script>
    <script src="/assets/js/logout.js"></script>
