<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Yore Bazaar!</title>
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Trocchi" rel="stylesheet">
		
		<!-- CSS -->
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery.js"></script>
		
		<!-- Bootstrap jQuery -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		<script src="https://use.fontawesome.com/c4965b9a48.js"></script>
		
		<!-- Moment.js -->
    	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>

		<!-- jQuery -->
		<!-- <script src="/assets/js/store.js"></script> -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script> -->
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
