<div class="container wrapper">
    <div class="jumbotron text-right">
      <h1 class="display-3"><strong> Yore Bazaar</strong></h1>
      <p class="lead mt-4"><i class="fa fa-cutlery" aria-hidden="true"></i> Personalized Shopping Experience!</p>
    </div>
    
  <div class="row mt-4">
    <div class="col-6">
      <div class="card">
        <div class="card-header text-center">
          Admin Page</div>
        <div class="card-body">
          <p class="card-text">
            <ul>
                <li>
                  <a href="#">Department</a>
                </li>
                <li>
                  <a href="#">Product</a>
                </li>  
            </ul>
          </p>
        </div>
      </div>
    </div>
  
  </div>
</div>
<footer class="footer text-center">
    <div class="container align-middle">
      <p><a class="navLink" href="https://github.com/pribala/YoreBazaar" target="_blank">GitHub Repo</a></p>
      <p>@Copyright PRIYA BALAKRISHNAN</p>
    </div>  
</footer>
