
  <div class="prodslist row">
{{#each item}}
<div class="col-sm-6 col-md-3">
    <img class= "prodimg" src="{{image_url}}" width="200rem">
    <p>{{Label}}</p>
    <p>{{Price}}</p>
    <form action="/" method="POST">
  	<button type="cart" style="float:right;color:black;background-color:transparent"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></button>
  </form>
  </div>
  <br><br>
{{/each}}
</div>


 