
<h2>Admin Page</h2>
<div class="row mt-4">
    <div class="col-6">
      <div class="card">
        <div class="card-header text-center">
          Admin Page</div>` q
        <div class="card-body">
          <p class="card-text">
            <ul>
                <li>
                  <a href="#">Department</a>
                </li>
                <li>
                  <a href="#">Product</a>
                </li>  
            </ul>
          </p>
        </div>
      </div>
    </div>
  
  </div>
</div>