 {{!-- <section class="container-fluid flex-grow"> --}}
     <h2>Department's List</h2>
     {{!-- <div class="row text-center">
      <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          Add a Department
        </div>
        <div class="card-body">
          <form class="create-department">
            <div class="form-group">
            <label for="name">Department Name:</label>
            <input type="text" id="name" name="name">
            </div>
            <div class="form-group">
            <label for="cost">Overhead Costs:</label>
            <input type="text" id="cost" name="cost">
            </div>
            <button type="submit" class="btn">Add a Department</button>
          </form>
        </div>
      </div>      
    </div>
  </div>  --}}
  <br>
<div class="row ">
{{#each departments}}
 {{!-- <div class="col-md-9 col-lg-3">  --}}
    <p class="col-md-8 col-lg-8" id="deptp">{{ dept_name }}</p>
    <p class="col-md-2 col-lg-2"id="deptp"> {{overhead_costs}} </p>
    <form action="/" method="POST"class="col-md-2 col-lg-2">
  	<button id="delete"  data-id={{id}} type="cart" style="float:right;color:black;background-color:transparent"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
    </button>
    <button id="edit" data-id={{id}}><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
  </form>
  {{!-- </div> --}}
  <br><br>
{{/each}}
</div>
<!-- Modal -->
    <div class="modal fade" id="editDept" tabindex="-1" role="dialog" aria-labelledby="matchInfoTitle" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="matchInfoTitle">Edit Department</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
<!-- jQuery -->
<script src="/assets/js/store.js"></script>