 {{!-- <section class="container-fluid flex-grow"> --}}
<div class="row ">
{{#each products}}
<div class=" col-xs-6 col-sm-6 col-md-6 col-lg-3">
    <img class= "prodimg" src="{{product_image}}" width="200rem">
    <p>{{ product_name }}</p>
    <p>${{price}}</p>
    <form> 
  	<button class="btn cart-btn" data-id={{id}} type="cart" style="float:right;color:black;background-color:transparent"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
    </button>
  </form>
  </div>
  <br><br>
{{/each}}
</div>
<!--  <div class="col-lg-3 ml-auto">
            <div class="bg-faded mb-3">
                <h5 class="card-header">List of things</h5>
                <div class="card-body">
                    <h6>Ain't nobody got time for:</h6> 1. That
                </div>
            </div>
        </div> 
</section>  -->
<!-- jQuery -->
<script src="/assets/js/products.js"></script>
