 {{!-- <section class="container-fluid flex-grow"> --}}
<div class="row ">
{{#each products}}
<div class="col-md-6 col-lg-3">
    <img class= "prodimg" src="{{product_image}}" width="200rem">
    <p>{{ product_name }}</p>
    <p>${{price}}</p>
    <form> 
  	<button class="btn cart-btn" data-id={{id}} type="cart" style="float:right;color:black;background-color:transparent"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
    </button>
  </form>
  </div>
  <br><br>
{{/each}}
</div>
<!--  <div class="col-lg-3 ml-auto">
            <div class="bg-faded mb-3">
                <h5 class="card-header">List of things</h5>
                <div class="card-body">
                    <h6>Ain't nobody got time for:</h6> 1. That
                </div>
            </div>
        </div> 
</section>  -->
  {{!-- <div class="row text-center">
      <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          Add a Product
        </div>
        <div class="card-body">
          <form class="create-form">
            <div class="form-group">
            <label for="name">Product Name:</label>
            <input type="text" id="name" name="name">
            </div>
            <div class="form-group">
            <label for="price">Product Price:</label>
            <input type="text" id="price" name="price">
            </div>
            <div class="form-group">
            <label for="quantity">Stock Quantity:</label>
            <input type="text" id="quantity" name="quantity">
            </div>
            <div class="form-group">
            <label for="deptId">Department Name:</label>
            <select id="dept"></select>
            
            </div>
            <button type="submit" class="btn">Add a Product</button>
          </form>
        </div>
      </div>      
    </div>
  </div> --}}
<!-- jQuery -->
<script src="/assets/js/products.js"></script>
